# Capstone Project - Battle Of Neighborhoods

## This is the capstone project for the IBM Data Science Professional Certificate
### Open new Mexican Restaurant in London, United Kingdom

### 1. Introduction/Business Problem:

In [273]:
# 1. A description of the problem and a discussion of the background

London is the capital and largest city of England and the United Kingdom. It is the third-most populous in Europe. London has a diverse range of people and cultures, and more than 300 languages are spoken in the region.  It offers many business opportunities, like openning new restaurants so is competitive. Careful consideration of analysis for the business expansion is so much important as it is directly proportional to the cost of the business. The analysis from this report help for the new businesses strategically target the market and help in a high return on investment so is low risk.

Opening a new restaurant can be daunting. There are so many things to consider from choosing the right location to finding the financing to selecting the right name. As the location is one of the main factors in opening a new restaurant we will focus on the restaurant business around the London area in this report. The first step in opening a new restaurant is deciding what type of restaurant it is going to be? Because that's already decided and it's going to be a specific type of cuisine i.e Mexican restaurant, now choosing the location of the restaurant is one of the most imortant decisions. Will it be in a busy area with plenty of foot traffic, or is there enough parking or are there any other restaurants opened or closed in the same spot?
We will focus on the neighborhoods that has no or least Mexican restaurants, also will take into consideration (with help of clustering) which neighbourhoods are similar and most like Mexican food but at the sam time has no or very little Mexican restaurants. Then I will hopefully come to a conclusion where it is a good place to open a new Mexican restaurant.

In [274]:
# 2. A description of the data and how it will be used to solve the problem

#### Target Audience:

The objective of my project is to recommend which neighborhood of London is a good choice for a new Mexican Restaurant business to open.

#### Methodology - How will I use the data to solve the described Business Problem:

- I will convert address data into their equivalent latitude and longitude values.
- For London neighborhood data, I will use the resource from wikipedia page , https://en.wikipedia.org/wiki/List_of_areas_of_London
- Use the Foursquare API to explore London neighborhoods and to get venues in neighborhoods.
- Use the Foursquare API to get venue ratings and likes in neighborhoods.
- Use the k-means clustering to complete clustering task
- Use the Folium library to visualize the neighborhoods, venues , clusters in London

### 2. Data section

 Download and Explore Borough Dataset

In [275]:
#install libraries 
!pip install geopy    
!pip install folium   
!pip install geocoder
print('Libraries installed')

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: geopy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geopy) (1.50)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: folium in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.12.1)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.11.3)
Requirement already satisfied: branca>=0.3.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (2.24.0)
Requirement already satisfied: numpy in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from folium) (1.18.5)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->folium) (2021.5.30)
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/dhcrypto.py:16: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/secretstorage/util.py:25: CryptographyDeprecationWarning: int_from_bytes is deprecated, use int.from_bytes instead
  from cryptography.utils import int_from_bytes
Requirement already satisfied: geocoder in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (1.38.1)
Requirement already satisfied: ratelim in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: future in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from requests->geocoder) (2.9)
Libraries installed

In [276]:
#import libraries 
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import matplotlib.pyplot as plt # for graphical usage 

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library
from folium import plugins
from folium.plugins import HeatMap

from bs4 import BeautifulSoup 

print('Libraries imported.')

Libraries imported.

#### Getting the latitude and longitude of London, United Kingdom

In [277]:
#get the coordinates of London
london_address = 'London, United Kingdom'

geolocator = Nominatim(user_agent='london_explorer')
location = geolocator.geocode(london_address)
latitude = location.latitude
longitude = location.longitude

print('The geographical coordiantes of {} are {}, {}'.format(london_address, latitude, longitude))

The geographical coordiantes of London, United Kingdom are 51.5073219, -0.1276474

##### Getting the boroughs data of London

I will be using the wikipedia page https://en.wikipedia.org/wiki/List_of_London_boroughs to get the data for 32 London boroughs and the City of London. The City of London is the 33rd principal division of Greater London but it is not a London borough, so it's not in the table that I'll be using, but I will manualy add the City of London as the 33th borough so that I can do a more extensive analysis.

In [278]:
# Read London borough data 
url = 'https://en.wikipedia.org/wiki/List_of_London_boroughs'
source=requests.get(url).text
soup=BeautifulSoup(source, 'html.parser')

In [279]:
# Get the whole table that we need from the wikipedia page and put it in a dataframe format
table = soup.find('table', class_="wikitable sortable")

df = pd.read_html(str(table))
df = pd.concat(df)

In [280]:
df

,Borough,Inner,Status,Local authority,Political control,Headquarters,Area (sq mi),Population (2019 est)[1],Co-ordinates,Nr. in map
0,Barking and Dagenham[note 1],NaN,NaN,Barking and Dagenham London Borough Council,Labour,"Town Hall, 1 Town Square",13.93,212906,".mw-parser-output .geo-default,.mw-parser-outp...",25
1,Barnet,NaN,NaN,Barnet London Borough Council,Conservative,"Barnet House, 2 Bristol Avenue, Colindale",33.49,395896,51°37′31″N 0°09′06″W﻿ / ﻿51.6252°N 0.1517°W,31
2,Bexley,NaN,NaN,Bexley London Borough Council,Conservative,"Civic Offices, 2 Watling Street",23.38,248287,51°27′18″N 0°09′02″E﻿ / ﻿51.4549°N 0.1505°E,23
3,Brent,NaN,NaN,Brent London Borough Council,Labour,"Brent Civic Centre, Engineers Way",16.70,329771,51°33′32″N 0°16′54″W﻿ / ﻿51.5588°N 0.2817°W,12
4,Bromley,NaN,NaN,Bromley London Borough Council,Conservative,"Civic Centre, Stockwell Close",57.97,332336,51°24′14″N 0°01′11″E﻿ / ﻿51.4039°N 0.0198°E,20
5,Camden,NaN,NaN,Camden London Borough Council,Labour,"Camden Town Hall, Judd Street",8.40,270029,51°31′44″N 0°07′32″W﻿ / ﻿51.5290°N 0.1255°W,11
6,Croydon,NaN,NaN,Croydon London Borough Council,Labour,"Bernard Weatherill House, Mint Walk",33.41,386710,51°22′17″N 0°05′52″W﻿ / ﻿51.3714°N 0.0977°W,19
7,Ealing,NaN,NaN,Ealing London Borough Council,Labour,"Perceval House, 14-16 Uxbridge Road",21.44,341806,51°30′47″N 0°18′32″W﻿ / ﻿51.5130°N 0.3089°W,13
8,Enfield,NaN,NaN,Enfield London Borough Council,Labour,"Civic Centre, Silver Street",31.74,333794,51°39′14″N 0°04′48″W﻿ / ﻿51.6538°N 0.0799°W,30
9,Greenwich [note 2],[note 3],Royal,Greenwich London Borough Council,Labour,"Woolwich Town Hall, Wellington Street",18.28,287942,51°29′21″N 0°03′53″E﻿ / ﻿51.4892°N 0.0648°E,22
10,Hackney,NaN,NaN,Hackney London Borough Council,Labour,"Hackney Town Hall, Mare Street",7.36,281120,51°32′42″N 0°03′19″W﻿ / ﻿51.5450°N 0.0553°W,9
11,Hammersmith and Fulham[note 4],NaN,NaN,Hammersmith and Fulham London Borough Council,Labour,"Town Hall, King Street",6.33,185143,51°29′34″N 0°14′02″W﻿ / ﻿51.4927°N 0.2339°W,4
12,Haringey,[note 3],NaN,Haringey London Borough Council,Labour,"Civic Centre, High Road",11.42,268647,51°36′00″N 0°06′43″W﻿ / ﻿51.6000°N 0.1119°W,29
13,Harrow,NaN,NaN,Harrow London Borough Council,Labour,"Civic Centre, Station Road",19.49,251160,51°35′23″N 0°20′05″W﻿ / ﻿51.5898°N 0.3346°W,32
14,Havering,NaN,NaN,Havering London Borough Council,Conservative (council NOC),"Town Hall, Main Road",43.35,259552,51°34′52″N 0°11′01″E﻿ / ﻿51.5812°N 0.1837°E,24
15,Hillingdon,NaN,NaN,Hillingdon London Borough Council,Conservative,"Civic Centre, High Street",44.67,306870,51°32′39″N 0°28′34″W﻿ / ﻿51.5441°N 0.4760°W,33
16,Hounslow,NaN,NaN,Hounslow London Borough Council,Labour,"Hounslow House, 7 Bath Road",21.61,271523,51°28′29″N 0°22′05″W﻿ / ﻿51.4746°N 0.3680°W,14
17,Islington,NaN,NaN,Islington London Borough Council,Labour,"Customer Centre, 222 Upper Street",5.74,242467,51°32′30″N 0°06′08″W﻿ / ﻿51.5416°N 0.1022°W,10
18,Kensington and Chelsea,NaN,Royal,Kensington and Chelsea London Borough Council,Conservative,"The Town Hall, Hornton Street",4.68,156129,51°30′07″N 0°11′41″W﻿ / ﻿51.5020°N 0.1947°W,3
19,Kingston upon Thames,NaN,Royal,Kingston upon Thames London Borough Council,Liberal Democrat,"Guildhall, High Street",14.38,177507,51°24′31″N 0°18′23″W﻿ / ﻿51.4085°N 0.3064°W,16
20,Lambeth,NaN,NaN,Lambeth London Borough Council,Labour,"Lambeth Town Hall, Brixton Hill",10.36,326034,51°27′39″N 0°06′59″W﻿ / ﻿51.4607°N 0.1163°W,6
21,Lewisham,NaN,NaN,Lewisham London Borough Council,Labour,"Town Hall, 1 Catford Road",13.57,305842,51°26′43″N 0°01′15″W﻿ / ﻿51.4452°N 0.0209°W,21
22,Merton,NaN,NaN,Merton London Borough Council,Labour,"Civic Centre, London Road",14.52,206548,51°24′05″N 0°11′45″W﻿ / ﻿51.4014°N 0.1958°W,17
23,Newham,[note 3],NaN,Newham London Borough Council,Labour,"Newham Dockside, 1000 Dockside Road",13.98,353134,51°30′28″N 0°02′49″E﻿ / ﻿51.5077°N 0.0469°E,27
24,Redbridge,NaN,NaN,Redbridge London Borough Council,Labour,"Town Hall, 128-142 High Road",21.78,305222,51°33′32″N 0°04′27″E﻿ / ﻿51.5590°N 0.0741°E,26
25,Richmond upon Thames,NaN,NaN,Richmond upon Thames London Borough Council,Liberal Democrat,"Civic Centre, 44 York Street",22.17,198019,51°26′52″N 0°19′34″W﻿ / ﻿51.4479°N 0.3260°W,15
26,Southwark,NaN,NaN,Southwark London Borough Council,Labour,160 Tooley Street,11.14,318830,51°30′13″N 0°04′49″W﻿ / ﻿51.5035°N 0.0804°W,7
27,Sutton,NaN,NaN,Sutton London Borough Council,Liberal Democrat,"Civic Offices, St Nicholas Way",16.93,206349,51°21′42″N 0°11′40″W﻿ / ﻿51.3618°N 0.1945°W,18
28,Tower Hamlets,NaN,NaN,Tower Hamlets London Borough Council,Labour,"Town Hall, Mulberry Place, 5 Clove Crescent",7.63,324745,51°30′36″N 0°00′21″W﻿ / ﻿51.5099°N 0.0059°W,8
29,Waltham Forest,NaN,NaN,Waltham Forest London Borough Council,Labour,"Waltham Forest Town Hall, Forest Road",14.99,276983,51°35′27″N 0°00′48″W﻿ / ﻿51.5908°N 0.0134°W,28
30,Wandsworth,NaN,NaN,Wandsworth London Borough Council,Conservative,"The Town Hall, Wandsworth High Street",13.23,329677,51°27′24″N 0°11′28″W﻿ / ﻿51.4567°N 0.1910°W,5
31,Westminster,NaN,City,Westminster City Council,Conservative,"Westminster City Hall, 64 Victoria Street",8.29,261317,51°29′50″N 0°08′14″W﻿ / ﻿51.4973°N 0.1372°W,2

In [281]:
# Data cleansing, extract only the latitude and longitude (last 18 charachters) from the Co-ordinates column
i=0
for i in range(32):
    df['Co-ordinates'][i]= df['Co-ordinates'][i][-18:]
    i=i+1

/opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [282]:
# Droping the columns that i don't need
df=df.drop(columns=['Inner', 'Status', 'Local authority', 'Political control', 'Headquarters', 'Area (sq mi)', 'Population (2019 est)[1]', 'Nr. in map'])

In [283]:
# Check the dataframe
df

                           Borough        Co-ordinates
0     Barking and Dagenham[note 1]  51.5607°N 0.1557°E
1                           Barnet  51.6252°N 0.1517°W
2                           Bexley  51.4549°N 0.1505°E
3                            Brent  51.5588°N 0.2817°W
4                          Bromley  51.4039°N 0.0198°E
5                           Camden  51.5290°N 0.1255°W
6                          Croydon  51.3714°N 0.0977°W
7                           Ealing  51.5130°N 0.3089°W
8                          Enfield  51.6538°N 0.0799°W
9               Greenwich [note 2]  51.4892°N 0.0648°E
10                         Hackney  51.5450°N 0.0553°W
11  Hammersmith and Fulham[note 4]  51.4927°N 0.2339°W
12                        Haringey  51.6000°N 0.1119°W
13                          Harrow  51.5898°N 0.3346°W
14                        Havering  51.5812°N 0.1837°E
15                      Hillingdon  51.5441°N 0.4760°W
16                        Hounslow  51.4746°N 0.3680°W
17                       Islington  51.5416°N 0.1022°W
18          Kensington and Chelsea  51.5020°N 0.1947°W
19            Kingston upon Thames  51.4085°N 0.3064°W
20                         Lambeth  51.4607°N 0.1163°W
21                        Lewisham  51.4452°N 0.0209°W
22                          Merton  51.4014°N 0.1958°W
23                          Newham  51.5077°N 0.0469°E
24                       Redbridge  51.5590°N 0.0741°E
25            Richmond upon Thames  51.4479°N 0.3260°W
26                       Southwark  51.5035°N 0.0804°W
27                          Sutton  51.3618°N 0.1945°W
28                   Tower Hamlets  51.5099°N 0.0059°W
29                  Waltham Forest  51.5908°N 0.0134°W
30                      Wandsworth  51.4567°N 0.1910°W
31                     Westminster  51.4973°N 0.1372°W

In [284]:
# Add two columns for latitude and longitude, so that I can divide the coordiantes from 'Co-ordinates' column
df["Latitude"] = ""
df['Longitude']= ""

In [285]:
df

                           Borough        Co-ordinates Latitude Longitude
0     Barking and Dagenham[note 1]  51.5607°N 0.1557°E
1                           Barnet  51.6252°N 0.1517°W
2                           Bexley  51.4549°N 0.1505°E
3                            Brent  51.5588°N 0.2817°W
4                          Bromley  51.4039°N 0.0198°E
5                           Camden  51.5290°N 0.1255°W
6                          Croydon  51.3714°N 0.0977°W
7                           Ealing  51.5130°N 0.3089°W
8                          Enfield  51.6538°N 0.0799°W
9               Greenwich [note 2]  51.4892°N 0.0648°E
10                         Hackney  51.5450°N 0.0553°W
11  Hammersmith and Fulham[note 4]  51.4927°N 0.2339°W
12                        Haringey  51.6000°N 0.1119°W
13                          Harrow  51.5898°N 0.3346°W
14                        Havering  51.5812°N 0.1837°E
15                      Hillingdon  51.5441°N 0.4760°W
16                        Hounslow  51.4746°N 0.3680°W
17                       Islington  51.5416°N 0.1022°W
18          Kensington and Chelsea  51.5020°N 0.1947°W
19            Kingston upon Thames  51.4085°N 0.3064°W
20                         Lambeth  51.4607°N 0.1163°W
21                        Lewisham  51.4452°N 0.0209°W
22                          Merton  51.4014°N 0.1958°W
23                          Newham  51.5077°N 0.0469°E
24                       Redbridge  51.5590°N 0.0741°E
25            Richmond upon Thames  51.4479°N 0.3260°W
26                       Southwark  51.5035°N 0.0804°W
27                          Sutton  51.3618°N 0.1945°W
28                   Tower Hamlets  51.5099°N 0.0059°W
29                  Waltham Forest  51.5908°N 0.0134°W
30                      Wandsworth  51.4567°N 0.1910°W
31                     Westminster  51.4973°N 0.1372°W

In [286]:
# Fill the two new columns with the latitude and longitude from 'Co-ordinates columns, take only the numbers (without nonnumerich characters)
import re
k=0
for k in range(32):
    df['Latitude'][k]=df['Co-ordinates'][k].split()[0][:7]
    df['Longitude'][k]=df['Co-ordinates'][k].split()[1][:6]
    k=k+1

In [287]:
#Check the dataframe
df

                           Borough        Co-ordinates Latitude Longitude
0     Barking and Dagenham[note 1]  51.5607°N 0.1557°E  51.5607    0.1557
1                           Barnet  51.6252°N 0.1517°W  51.6252    0.1517
2                           Bexley  51.4549°N 0.1505°E  51.4549    0.1505
3                            Brent  51.5588°N 0.2817°W  51.5588    0.2817
4                          Bromley  51.4039°N 0.0198°E  51.4039    0.0198
5                           Camden  51.5290°N 0.1255°W  51.5290    0.1255
6                          Croydon  51.3714°N 0.0977°W  51.3714    0.0977
7                           Ealing  51.5130°N 0.3089°W  51.5130    0.3089
8                          Enfield  51.6538°N 0.0799°W  51.6538    0.0799
9               Greenwich [note 2]  51.4892°N 0.0648°E  51.4892    0.0648
10                         Hackney  51.5450°N 0.0553°W  51.5450    0.0553
11  Hammersmith and Fulham[note 4]  51.4927°N 0.2339°W  51.4927    0.2339
12                        Haringey  51.6000°N 0.1119°W  51.6000    0.1119
13                          Harrow  51.5898°N 0.3346°W  51.5898    0.3346
14                        Havering  51.5812°N 0.1837°E  51.5812    0.1837
15                      Hillingdon  51.5441°N 0.4760°W  51.5441    0.4760
16                        Hounslow  51.4746°N 0.3680°W  51.4746    0.3680
17                       Islington  51.5416°N 0.1022°W  51.5416    0.1022
18          Kensington and Chelsea  51.5020°N 0.1947°W  51.5020    0.1947
19            Kingston upon Thames  51.4085°N 0.3064°W  51.4085    0.3064
20                         Lambeth  51.4607°N 0.1163°W  51.4607    0.1163
21                        Lewisham  51.4452°N 0.0209°W  51.4452    0.0209
22                          Merton  51.4014°N 0.1958°W  51.4014    0.1958
23                          Newham  51.5077°N 0.0469°E  51.5077    0.0469
24                       Redbridge  51.5590°N 0.0741°E  51.5590    0.0741
25            Richmond upon Thames  51.4479°N 0.3260°W  51.4479    0.3260
26                       Southwark  51.5035°N 0.0804°W  51.5035    0.0804
27                          Sutton  51.3618°N 0.1945°W  51.3618    0.1945
28                   Tower Hamlets  51.5099°N 0.0059°W  51.5099    0.0059
29                  Waltham Forest  51.5908°N 0.0134°W  51.5908    0.0134
30                      Wandsworth  51.4567°N 0.1910°W  51.4567    0.1910
31                     Westminster  51.4973°N 0.1372°W  51.4973    0.1372

In [288]:
# Drop the columns 'Co-ordinates' because I don't need it anymore
df.drop('Co-ordinates', 1, inplace=True)

In [289]:
# As I mention on the start City of London is not is the table because is't not consoderd a borough, but I add it manually so that I can take in into consideration when I'll we doing the data analysis later
df.append({'Borough':'City of London', 'Latitude': '51.5155', 'Longitude': 0.0922}, ignore_index=True)

                           Borough Latitude Longitude
0     Barking and Dagenham[note 1]  51.5607    0.1557
1                           Barnet  51.6252    0.1517
2                           Bexley  51.4549    0.1505
3                            Brent  51.5588    0.2817
4                          Bromley  51.4039    0.0198
5                           Camden  51.5290    0.1255
6                          Croydon  51.3714    0.0977
7                           Ealing  51.5130    0.3089
8                          Enfield  51.6538    0.0799
9               Greenwich [note 2]  51.4892    0.0648
10                         Hackney  51.5450    0.0553
11  Hammersmith and Fulham[note 4]  51.4927    0.2339
12                        Haringey  51.6000    0.1119
13                          Harrow  51.5898    0.3346
14                        Havering  51.5812    0.1837
15                      Hillingdon  51.5441    0.4760
16                        Hounslow  51.4746    0.3680
17                       Islington  51.5416    0.1022
18          Kensington and Chelsea  51.5020    0.1947
19            Kingston upon Thames  51.4085    0.3064
20                         Lambeth  51.4607    0.1163
21                        Lewisham  51.4452    0.0209
22                          Merton  51.4014    0.1958
23                          Newham  51.5077    0.0469
24                       Redbridge  51.5590    0.0741
25            Richmond upon Thames  51.4479    0.3260
26                       Southwark  51.5035    0.0804
27                          Sutton  51.3618    0.1945
28                   Tower Hamlets  51.5099    0.0059
29                  Waltham Forest  51.5908    0.0134
30                      Wandsworth  51.4567    0.1910
31                     Westminster  51.4973    0.1372
32                  City of London  51.5155    0.0922